@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url('../imagens.HTML/radio-tv.png') no-repeat;


}


audio#musica {
    display: block;
    position: relative;
    left:574px ;
    top: 488px;
    width: 300px;

}

video#filme {
    display: block;
    position: relative;
    left:100px ;
    top: 78px;
    width: 400px;

}

